{#LAYOUT Principal - Contribux#}
<!DOCTYPE html>
<!-- 
Contribux, contribuons ensemble
-->
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %} {# Import Feuilles de styles #}

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  type="text/css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
        {% endblock %}
        {% block scripts %} {# Import Javascript etc. #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
        <title>{% block title %}contribux |  {% endblock %}</title>
    </head>
    <body>

        {# Menu En-tete  ###################}
        {% block header %}


            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headMenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Contribux</a>
                    </div>
                    <div class="collapse navbar-collapse" id="headMenu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/projets">LES PROJETS</a></li>
                            <li><a href="/rechercher">RECHERCHER</a></li>


                            {% if app.user %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle connected" data-toggle="dropdown" href="#">
                                        <span class="fa fa-user"></span> {{ app.user.username }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/projet/create"><span class="fa fa-plus-circle"></span> Ajouter un
                                                projet</a></li>
                                        <li><a href="/mes-projets"><span class="fa fa-list"></span> Mes projets</a></li>
                                        <li><a href="/profile/{{ app.user.username }}"><span class="fa fa-user-circle"></span> Mon profil</a></li>
                                        <li><a href="/logout"><span class="fa fa-sign-out"></span> Se déconnecter</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Non connecté
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/login">Se connecter</a></li>
                                        <li><a href="/register">S'inscrire</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

        {% endblock %}

        {# Message flash #######################}
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="panel panel-info message-flash">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ flashMessage }}</h3>
                    </div>
                </div>


            {% endfor %}
        {% endfor %}

        {# Contenu ###########("content" est un mot reservé -> utiliser "contenu" )###########}
        {% block contenu %}
        {% endblock %}


        {# Pied de Page #######################}
        <footer>
            
            <div class="row col-md-12" id="footer">
<a href="https://github.com/bebone/contribux" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
                <div class="col-md-offset-4 col-md-3">
                    <ul>
                        <li><a href="/mentions-legales">Mentions Légales</a></li>
                        <li><a href="/a-propos">À propos</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><a href="/projets">Projets</a></li>
                        <li><a href="/rechercher">Rechercher</a></li>
                    </ul>
                </div>
                <div class="row col-md-12 footer text-center">
                    <strong>Contribux - Master CIM - 2017 </strong>
                </div>

                {% block footer %}
                    {# au cas où pour ajouter du contenu...#}
                {% endblock %}
            </div>
        </footer>
        {% block scripts_footer %}
            {# au cas où pour les scripts appelés en dernier ...#}
        {% endblock %}
    </body>
</html>


