{% extends "::layout.html.twig" %}
{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#target-content").load("{{ path('projets_ajax',{'page': 1}) }}");

            $( document).on( "click", ".pagination li",function(e) {
                e.preventDefault();
                $("#target-content").html('loading...');
                $(".pagination li").removeClass('active');
                $(this).addClass('active');
                $("#target-content").load("projets_ajax/"+$(this).attr('id'));
            });
        });
    </script>
{%  endblock %}
{% block contenu %}
    <div class="row content">
        <div id="target-content">
            Veuillez patienter ...
        </div>

    </div>

{% endblock %}
