{# https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/views/Registration/confirmed.html.twig #}
{% extends "::layout.html.twig" %}
{% block title %}
    {{parent()}} Bravo !
{% endblock %}

{% block contenu %}

    <div class="row content ">
        <h1>Félicitations !</h1>
        <p>Vous êtes à présent inscris sur Contribux !</p>
        <p><a href="/">Revenir sur la page d'accueil</a></p>
    </div>

{% endblock %}