{%  extends "::layout.html.twig" %}

{% block scripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            // Slide in elements on scroll
            $(window).scroll(function () {
                $(".animjs").each(function () {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("animcss");
                    }
                });
            });
        })
    </script>
{% endblock%}

{%block title %}
    {{parent()}} Recherche d'objets perdus
{% endblock%}

{% block contenu %}
    <div class="row content accueil">
        <h1 id="titre-accueil"> La plateforme pour contribuer à des projets</h1>
        <div id="description-accueil"><p>Contribuez à des projets</p>
            <p>Vous avez un projet? Demandez à des contributeurs et contributrices de vous aider ! </p>
        </div>
        <div id="boutons-accueil">
            <a class="btn-accueil" href="#"><span class="fa fa-life-ring"></span> DEMANDER DE L'AIDE</a>
            <a class="btn-accueil" href="#"> <span class="fa fa-handshake-o"></span> APPORTER SON AIDE</a>
        </div>
    </div>
    <div class="row content">
        <h1>Comment ça marche ?</h1>
        <div class="text-center">

            <div class="row animjs">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-off"></span>
                    <h4>Un moteur de recherche</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-heart"></span>
                    <h4>Des annonces</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-lock"></span>
                    <h4>Une communauté</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                </div>
            </div>
            <br><br>

        </div>
    </div>

    <div class="row content">
        <h1>Ils en parlent</h1>
    </div>

{% endblock %}

