{%  extends "::layout.html.twig" %}
{%block title %}
    {{parent()}} Qui sommes nous?
{% endblock%}

{% block contenu %}
    <div class="row content">
    {% block titreOne %} <h1> Qui sommes nous? </h1>
        on dit chihuahua
        </div>{%endblock%}
                
    Delicious mmm
{% endblock %}