/* IMPORTATION FONTS GOOGUEULE*/
@import url('https://fonts.googleapis.com/css?family=Baumans|Open+Sans:300,400');
/*******************/


* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #F1E7D6;
  color: #545352;
  font-family: 'Open Sans';
}

a:hover {
  text-decoration: none;
}


nav ul {
  list-style: none;
}

nav a {
  color:#7F2DA2;

}


.navbar {
    margin-bottom: 0;
    background-color: #424244 !important;
    border: 0;
    font-size: 11px !important;
    opacity:0.9;
    font-weight:bold;
}

.navbar-brand {
    font-family: 'Baumans';
    font-size: 40px !important;
    color:#e67e22 !important;
}


.navbar li a, .navbar {
    color: #d5d5d5 !important;
}


.navbar-nav li a:hover {
    color: #fff !important;
}


.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}


.row > .projet-liste {
    padding: 10px 10px 10px 0px;
    margin:10px 0px 0px 0px !important;
}

.projet-liste, .projet-info {
    background-color: #535252;
    color:#FFF;
    padding: 10px 10px 10px 10px;

}

.projet-info h1 {
    color:#E78834;
}


.projet-liste a, .projet-info a {
    color:#E78834;
}

.projet-description {
    padding-left:20px;
}

.container {
    width: 100%;
    padding: 0;
    margin:0;
}

.content:nth-child(2) {
    padding-top: 75px;
}

.content {
    min-height: 100vh;
    margin: 0;
}

.row {
  margin:0 !important;
  padding:15px;
}

.projet-img {
    height: 200px;
    width: 200px;
    float:right;
}


.btn-accueil {
    font-weight: bold;
    padding : 10px 15px 10px 15px;
    border-radius: 50px;
    background-color: #e67e22;
    color: #545352;
    letter-spacing: 1px;
    font-size:1.6em;
}

.bnt-accueil:first-of-type {
  margin-right:10px;
}

.btn-accueil:hover {
    transition-duration: 1s;
    background-color: #DA741A;
    margin-top: 2px;

}

.accueil {
    background-color: #99CDD8;
}

#titre-accueil, #boutons-accueil, #description-accueil {
  text-align: center;
}

#titre-accueil {
  font-weight: 300;
}

#description-accueil {
  margin-bottom: 20%;
  font-size: 1.5em;
}

#footer {
    background-color: #E78834;
}

#footer ul {
    list-style: none;
}


.animjs {visibility:hidden;}
.animcss {

    animation-name: animcss;
    -webkit-animation-name: animcss;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}


@keyframes animcss {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes animcss {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
