{% extends "::layout.html.twig" %}
{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var url = "";
            //$("#target-content").load("{{ path('projets_ajax',{'page': 1}) }}");

            $(document).on("click", ".pagination li", function (e) {
                e.preventDefault();
                $("#target-content").html('Patientez...');
                $("#target-content").load(url + $(this).attr('id'));
            });
            $(document).on("click", ".btn-nom", function (e) {
                e.preventDefault();
                $(".pagination li").removeClass('active');
                $("#target-content").html('Patientez...');
                if ($('input[id="recherche-nom"]').val() == "") {
                    url = "projets_ajax/";
                    $("#target-content").load(url + "1", function () {
                    }).hide().fadeIn("slow");
                }
                else {
                    url = "recherche_nom_ajax/" + $('input[id="recherche-nom"]').val() + "/";
                    $("#target-content").load(url + "1", function () {
                    }).hide().fadeIn("slow");
                }
            });
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $(".pagination li").removeClass('active');
                    $("#target-content").html('Patientez...');
                    if ($('input[id="recherche-nom"]').val() == "") {
                        url = "projets_ajax/";
                        $("#target-content").load(url + "1", function () {
                        }).hide().fadeIn("slow");
                    }
                    else {
                        url = "recherche_nom_ajax/" + $('input[id="recherche-nom"]').val() + "/";
                        $("#target-content").load(url + "1", function () {
                        }).hide().fadeIn("slow");
                    }
                }
            });
            $(document).on("click", ".recherche-langage", function (e) {
                e.preventDefault();
                $(".pagination li").removeClass('active');
                $("#target-content").html('Patientez...');

                url = "recherche_langage_ajax/" + $(this).attr('id') + "/";
                $("#target-content").load(url + "1", function () {
                }).hide().fadeIn("slow");

            });

        });
    </script>
{% endblock %}
{% block contenu %}
    <div class="row content">
        <h1>Rechercher un projet</h1>
        {# Catégorie dans un select !#}
        <div class="row">
            <div class="col-md-6">
                Par son nom :
            <div class="input-group">
                <input type="text" id="recherche-nom" class="form-control" placeholder="Saisir ici...">
                <span class="input-group-btn">
        <button class="btn btn-default btn-nom" type="button">Rechercher !</button>
      </span>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="form-group">
            Par son langage de programmation :
            <select class="form-control">
                {% for langage in langages %}
                    <option class="recherche-langage" id="{{ langage.id }}">{{ langage.nom }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="target-content">
            Choisissez votre méthode de recherche.
            Les résultats vont apparaître ici.

        </div>

    </div>
    </div>

{% endblock %}