{%  extends "lostitLostitBundle::layout.html.twig" %}
{%block title %}
    {{parent()}} Qui sommes nous?
{% endblock%}

{% block contenu %}
    {% block titreOne %} <h1> Qui sommes nous? </h1>{%endblock%}
                
    Delicious mmm
{% endblock %}