<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %} {# Import Feuilles de styles #}
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        {% endblock %}
        {% block scripts %} {# Import Javascript etc. #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {%endblock%}
        <title>{% block title %}Lostit |  {% endblock %}</title>
    </head>
    <body>

        {# Menu En-tete  ###################}
        {% block header %}


            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headMenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Lost it</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right"> 
                            <li><a href="#band">CLÉS</a></li>
                            <li><a href="#tour">SACS</a></li>
                            <li><a href="#contact">PELUCHES</a></li>
                            <li><a href="#tour">MULTIMEDIA</a></li>
                            <li><a href="#tour">DIVERS</a></li>
                            <li><a href="#tour">ANIMAUX</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Non connecté
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Se connecter</a></li>
                                    <li><a href="#">S'inscrire</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        {%endblock%}

        {# Contenu ###########("content" est un mot reservé -> use "contenu" instead)###########}

        
            {% block contenu %} 
            {%endblock%}
       

        {# Pied de Page #######################}

        <footer>
            {% block footer %}
            {%endblock%}
            Prout
        </footer>
    </body>
</html>


